#display {
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid green;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#profile-photo {
  position: absolute;
  z-index: 1;
  opacity: 0;
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-delay: 0.75s;
  animation-fill-mode: forwards;
  /* animation: 1s ease-out 0s 1 fadeIn; */
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@keyframes projectOne {
	from {
		transform: rotate(0deg)
               translate(0px)
               rotate(0deg);
               opacity: 0;
	}
	to {
		transform: rotate(225deg)
               translate(325px) 
               rotate(-225deg);
               opacity: 0.7;
	}
}

@keyframes projectTwo {
  from {
		transform: rotate(0deg)
		           translate(0px)
               rotate(0deg);
               opacity: 0;
	}
	to {
		transform: rotate(315deg)
		           translate(325px) 
               rotate(-315deg);
               opacity: 0.7;
	}
}

@keyframes projectThree {
	from {
		transform: rotate(0deg)
               translate(0px)
               rotate(0deg);
               opacity: 0;
	}
	to {
		transform: rotate(360deg)
		           translate(325px) 
               rotate(-360deg);
               opacity: 0.7;
	}
}
	
@keyframes projectFour {
	from {
		transform: rotate(0deg)
               translate(0px)
               rotate(0deg);
               opacity: 0;
	}
	to {
		transform: rotate(45deg)
		           translate(325px) 
               rotate(-45deg);
               opacity: 0.7;
	}
}

@keyframes projectFive {
	from {
		transform: rotate(0deg)
               translate(0px)
               rotate(0deg);
               opacity: 0;
	}
	to {
		transform: rotate(135deg)
		           translate(325px) 
               rotate(-135deg);
               opacity: 0.7;
	}
}

@keyframes projectSix {
	from {
		transform: rotate(0deg)
               translate(0px)
               rotate(0deg);
               opacity: 0;
	}
	to {
		transform: rotate(180deg)
		           translate(325px) 
               rotate(-180deg);
               opacity: 0.7;
	}
}

.project {
  font-size: 1.25em;
  opacity: 0; 
  position: absolute;
  z-index: 0;
  height: 100px;
  width: 300px;
  border: 1px solid rgb(197, 197, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
  // background: #7692FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project:hover {
  background: blue;
  color: white;
}

#one {
  animation: projectOne 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

#two {
  animation: projectTwo 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

#three {
  animation: projectThree 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

#four {
  animation: projectFour 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

#five {
  animation: projectFive 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}

#six {
  animation: projectSix 1.5s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
}