@keyframes fadeInNotHome {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

main {
  height: 100%;
  position: absolute;
  // left: 0;
  // width: 100%;
  display: flex;
  justify-content: center;
  // align-items: center;
  // background: #ABD2FA;
  // background-image: url("../img/sunrise.jpg");

  // opacity: 0;
  // animation-duration: 1s;
  // animation-name: fadeIn;
  // animation-delay: 0.75s;
  // animation-fill-mode: forwards;
  overflow: scroll;
}

.home {
  left: 0;
  width: 100%;
}

.not-home {
  left: 15%;
  width: 85%;
  animation-duration: 0.75s;
  animation-name: fadeInNotHome;
  animation-fill-mode: forwards;
  background: white;
}